@model WhatsEat.ViewModel.RecipeVM;
<head>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
          rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
</head>
<h1>Создать рецепт</h1>

<br />
<body class="create-bg">
<div class="row">
    <div class="col-md-12" id="create-page">
        <form enctype="multipart/form-data" asp-controller="Recipes" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <div class="recipe-box">
                <label asp-for="RecipeName" class="control-label">Название рецепта</label>
                <br/>
                <input asp-for="RecipeName" class="form-control" id="recipe"/>
                <br/>
                <label asp-for="RecipeShortDescription" class="control-label">Описание</label>
                <br/>
                <input asp-for="RecipeShortDescription" class="form-control" id="recipe"/>
                <br/>
                </div>
                <label asp-for="RecipeDescription" class="form-label" style="color: #381d1b; font-family: georgia; font-size: larger; font-weight: bolder;">Как готовить:</label>
                <textarea asp-for="RecipeDescription" class="form-control"></textarea>
                <select asp-for="CountryId" asp-items="@Model.SelectListCountries"></select>
                <select asp-for="RecipeTypeId" asp-items="@Model.SelectListRecipeTypes"></select>
                <select asp-for="Difficulty" asp-items="@Model.SelectListDifficulties"></select>
                <br/>
                <p1>Добавить фото</p1>

                <div class="form-group">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input" id="customFile" />
                    </div>
                
                
                <table style="margin-top:5%;" class="table table-bordered" id="create">
                    <thead>
                        <tr>
                            <th scope="col">
                                Тип продукта
                            </th>
                            <th scope="col">
                                Продукты
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProductType type in Model.ProductTypes)
                        {
                            <tr>
                                <th scope="col">
                                    @type.Name
                                </th>
                                <td>
                                    @foreach (var checkbox in @Model.Checkboxes)
                                    {
                                        if (checkbox.productTypeName == type.Name)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@checkbox.productId" name="productIds" id="checkbox_@checkbox.productId" checked="@checkbox.isChecked">
                                                <label class="form-check-label" for="checkbox_@checkbox.productId">@checkbox.Name</label>
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
             </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" id="body-btn"/>
                </div>
            </div>
            <div>
                <a asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>
</body>
@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea#RecipeDescription',
            width: 600
        });
    </script>
}
